{% extends 'base.html' %} 
{% block content %}
<section id="register" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <!-- Modified Date: 2025-01-18 -->
                    <!-- Modified Content: Changed the header style to black and gold -->
                    <div class="card-header bg-dark text-warning">
                        <h4><i class="fas fa-user-plus"></i> SignUp</h4>
                    </div>
                    <div class="card-body">
                        <!-- Include the alert message section -->
                        {% include 'partials/_alert.html' %}
                        <form action="{% url 'register' %}" method="POST">
                            {% csrf_token %}
                            <!-- First Name Input -->
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input
                                    id='first_name'
                                    type="text"
                                    name="first_name"
                                    class="form-control"
                                    required
                                />
                            </div>
                            <!-- Last Name Input -->
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input
                                    type="text"
                                    name="last_name"
                                    class="form-control"
                                    required
                                />
                            </div>
                            <!-- Username Input -->
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input
                                    type="text"
                                    name="username"
                                    class="form-control"
                                    required
                                />
                            </div>
                            <!-- Email Input -->
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input
                                    type="email"
                                    name="email"
                                    class="form-control"
                                    required
                                />
                            </div>
                            <!-- Password Input -->
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input
                                    type="password"
                                    name="password"
                                    class="form-control"
                                    required
                                />
                            </div>
                            <!-- Confirm Password Input -->
                            <div class="form-group">
                                <label for="password2">Confirm Password</label>
                                <input
                                    type="password"
                                    name="password2"
                                    class="form-control"
                                    required
                                />
                            </div>
                            <!-- Modified Date: 2025-01-18 -->
                            <!-- Modified Content: Changed the Register button to black and gold style and increased its size -->
                            <input
                                type="submit"
                                value="Register"
                                class="btn btn-dark text-warning btn-block btn-lg"
                            />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}