{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href={% url 'index' %}> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">Contact Us</li>
      </ol>
    </nav>
  </div>
</section>

<!-- About -->
<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="bg-dark text-warning p-3 mb-4">
          <h2 class="mb-0">Contact Us</h2>
        </div>
<img src={% static "img/2k.png" %} alt="" />
<p>
    Create your Memories with us. Get in touch and tell us how we can assist in making your stay and experience with us better.
</p>
    <h5>Investment</h5>
    <p> <i class="fas fa-phone"></i>(+01)-8888 8888 </p>
    <p> <i class="fas fa-envelope-open"></i> investment@mtable.rest </p>
    <p> <i class="fa-solid fa-clock-rotate-left"></i>Firday 9:00 - 17:00 </p>
<br>
    <h5>CEO Mailbox</h5>
    <p><i class="fas fa-envelope-open"></i>ceo@mtable.rest </p>
<br>
    <h5>Reserversion</h5>
    <p> <i class="fas fa-phone"></i>  (01)-2000-2999 </p>
    <p> <i class="fas fa-envelope-open"></i>reseration@mtable.rest </p>
    <p> <i class="fa-solid fa-clock-rotate-left"></i>Monday-Sunday 9:00 - 24:00 </p>
<br>
    <h5>Excecutive Chef Mailbox</h5>
    <p><i class="fas fa-phone"></i>(01)-2000-2999 </p>
    <p><i class="fas fa-envelope-open"></i>chefserive@mtable.rest </p>

       
        </br>

    </div>
    <div class="col-md-4">
      <div class="card">
        <img
        class="card-img-top"
        src="{% static 'img/cfo1.jpg' %}"
        alt="MtableCFO"
      />
        <div class="card-body">
          <h5 class="card-title">An entrepreneur is someone who jumps off a cliff and builds a plane on the way down.</h5>
          <h6 class="text-secondary">CFO Admam Yeung Ming Wai</h6>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}